{% extends "base.html" %}
{% block content %}

    <header id="page-header">
        <div class="container my-3 bg-light">
            <div class="row">
                <div class="col-md-6 m-auto text-center">
                    <h1>会社情報</h1>
                    <p>どのような会社かを簡単に説明。どのような会社かを簡単に説明。</p>
                </div>
            </div>
        </div>
    </header>
    
    <section id="about">
        <div class="container py-3">
            <div class="row">
                <div class="col-md-6">
                    <h2>提供サービス</h2>
                    <h3 class="fst-italic">サービス１</h3>
                    <p>サービス内容の説明。</p>
                    <br>
                    <h3 class="fst-italic">サービス２</h3>
                    <p>サービス内容の説明。</p>
                    <br>
                    <h3 class="fst-italic">サービス３</h3>
                    <p>サービス内容の説明。</p>
                </div>
                <div class="col-md-6">
                    <img src="https://source.unsplash.com/alw-CwGFmwQ/700x700" alt="" class="rounded-circle img-fluid d-none d-md-block">
                </div>
            </div>
        </div>
    </section>

    <section id="company_info">
        <div class="container py-3 bg-dark text-light">
            <h2>会社概要</h2>
            <p>社名：社名XXXXXX</p>
            <p>設立：９９９９年１２月３１日</p>
            <p>資本金：９９９億円</p>
            <p>本社：〒９９９－９９９９　本社住所</p>
            <p>TEL：９９９－９９９－９９９９</p>
            <p>従業員：９９９名</p>
        </div>
    </section>
    <section id="company_map">
        <h2>マップ</h2>
        <div id="map" style="height: 500px; width: 100%;"></div>

        <script>
        function initMap() {
            const location = { lat: 35.681236, lng: 139.767125 };  // 東京駅
            const map = new google.maps.Map(document.getElementById("map"), {
            zoom: 14,
            center: location,
            });

            if (navigator.geolocation) {
            navigator.geolocation.getCurrentPosition(
                function(position) {
                const userLocation = {
                    lat: position.coords.latitude,
                    lng: position.coords.longitude,
                };

                // 現在地にズームイン
                map.setCenter(userLocation);
                map.setZoom(15);

                // 現在地にマーカーを設置
                new google.maps.Marker({
                    position: userLocation,
                    map: map,
                    title: "あなたの現在地",
                });
                },
                function() {
                alert("現在地を取得できませんでした。位置情報の許可が必要です。");
                }
            );
            } else {
            alert("このブラウザは位置情報に対応していません。");
            }
        }
        </script>

        <script async
        src="https://maps.googleapis.com/maps/api/js?key=hoge&callback=initMap">
        </script>
    </section>

{% endblock %}